.child-container {
    padding: 15px;
    margin: 10px 0;
    background-color: #eef2f7;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    align-items: center;
  }
  
  h2 {
    font-size: 1.5em;
    color: #333;
  }
  
  p {
    font-size: 1em;
    color: #555;
  }
  
  
  